@{
    ViewData["Title"] = "Add Question to Bank";
}

<h3 class="display-5">1. What is too correct on the following statements?</h3>
<div class ="container bg-light text-dark">
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    This is correct [ANS]
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
  <label class="form-check-label" for="defaultCheck2">
    This is somewhat
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
  <label class="form-check-label" for="defaultCheck3">
    This is the correct one [ANS]
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
  <label class="form-check-label" for="defaultCheck5">
  Well a little bit
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
  <label class="form-check-label" for="defaultCheck5">  
This is definitely not correct
  </label>
</div>
</div>
<button>Add Question</button>
<br/><br/>

<h3 class="display-5">2. What is too correct on the following statements?</h3>
<div class ="container bg-light text-dark">
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    This is correct [ANS]
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
  <label class="form-check-label" for="defaultCheck2">
    This is somewhat
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
  <label class="form-check-label" for="defaultCheck3">
    This is the correct one [ANS]
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
  <label class="form-check-label" for="defaultCheck5">
  Well a little bit
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
  <label class="form-check-label" for="defaultCheck5">  
This is definitely not correct
  </label>
</div>
</div>
<button>Add Question</button>